*{
     margin: 0;
     padding: 0;
     font-family: system-ui;
}

.error{
     position: absolute;
     padding: 1%;
     top: 1%;
     left: 50%;
     transform: translateX(-50%);
     width: 30%;
     height: 30px;
     border-radius: 8px;
     color: white;
     background-color: red;
     font-size: 20px;
     text-align: center;
     line-height: 30px;
}

.title{
     text-align: center;
     margin-top: 2%;
}

form{
     width: 40%;
     height: 250px;
     margin-left: 30%;
     margin-top: 10%;
     border-radius: 8px 0 8px 0;
     background-color: whitesmoke;
     box-shadow: 0px 1px 10px;
}

form input{
     width: 90%;
     margin-left: 5%;
     height: 40px;
     border-radius: 8px;
     border: none;
     background-color: gainsboro;
     font-size: 20px;
     text-indent: 2%;
     outline: none;
     margin-top: 7%;
}

form button{
     width: 30%;
     height: 40px;
     border-radius: 10px;
     border: none;
     margin-top: 20%;
     background-color: blue;
     color: white;
     font-size: 20px;
     cursor: pointer;
     transition: 0.5s;
}

form button:hover{
     background: none;
     border: 1px solid blue;
     color: blue;
}

form .buttons-container{
     display: flex;
     justify-content: space-between;
     width: 90%;
     margin-left: 5%;
}

form .buttons-container a{
     width: 30%;
     height: 40px;
     border-radius: 10px;
     background-color: red;
     border: none;
     margin-top: 20%;
     color: white;
     font-size: 20px;
     cursor: pointer;
     text-decoration: none;
     text-align: center;
     line-height: 40px;
     transition: 0.5s;
}

form .buttons-container a:hover{
     background: none;
     border: 1px solid red;
     color: red;
}

.back-btn{
     width: 50px;
     height: 50px;
     position: absolute;
     top: 1%;
     left: 1%;
}

.back-btn img{
     width: 100%;
     height: 100%;
}

@media only screen and (width <540px){
     form{
          width: 70%;
          margin-left: 15%;
          margin-top: 50%;
     }

     form .buttons-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
     }

     form .buttons-container a{
          margin-top: 10%;
     }

     form button , form .buttons-container a{
          width: 80%;
     }

     .error, .success{
          width: 70%;
          font-size: 15px;
     }
}